/*

26 194 183
1AC2B7
*/
body
{
	font-family: Lato,Roboto,sans-serif;
}

.clear-float
{
	clear: left;
}

.nav li a {
	font-weight: 300;
}

/* override nav button */
.navbar-default .navbar-toggle
{
	border : 0px solid transparent;
	float:  left;

}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover
{
	background: transparent;
}

.navbar-default .navbar-toggle .icon-bar
{
	background : #1AC2B7; 
}

.center-width{
	margin-left: auto;
	margin-right: auto;
}

.right-width{
	float:right;
}
.canvas-wrap {
	position:relative;
 
	width:100%;
	height:100%;
}

.overlay {

	width:100%;
	height:100%;
	position:absolute;
 
 }

.nomPage .nom-svg-container{
	width  	   : 70%;
	max-width : 1000px;
	padding-top   : 100px;
	padding-bottom : 20px;
}

.nomPage table {
	width : 100%;
}

.nomPage table tr .td-circ{

	color 	    : #FFFFFF;
	font-weight : 300;
}


.nomPage table tr .td-circ:focus,
.nomPage table tr .td-circ:hover
{
	cursor: pointer; cursor: hand; 
}

.nomPage table tr .artCirc
{
	stroke:#FFFFFF;;
}

.nomPage table tr .nom-circ{
	
	max-width   : 200px;
	width  	    : 80%;

}

.nomPage table tr .td-separate{
	width : 2%;
}

.nomPage table tr .td-edge{
	width : 10%;
}

.nomPage .feadbacks{

	 text-align: center;
	 color 	    : #FFFFFF;
	 font-weight : 300;
	 font-size : 27px;
	 margin-top : 40px;
}
.nomPage .manSay{
	text-align: center;
	 color 	    : #FFFFFF;
	 font-weight : 300;
}

.about-page-img-fade-out {
     opacity: 0.2;
     transition: opacity 2s ease-in-out;
}

.artPage .branchA{
	width : 70%;
	margin-top : 30%;
	
}

.artPage .branchB{
	width : 80%;
	/*the margin change by js*/
	
}

/* night */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars {
  background:#000 url(../img/stars.png) repeat top center;

}

.twinkling{
  background:transparent url(../img/twinkling.png) repeat top center;


  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

/* night */

@-webkit-keyframes nomColorIn {
	from{
		stroke: #1AC2B7;
	}
	to{
		stroke: #FFFFFF;
	}
}

@keyframes nomColorIn {
	from{
		stroke: #1AC2B7;
	}
	to{
		stroke: #FFFFFF;
	}
}

@-webkit-keyframes nomColorOut {
	from{
		stroke: #FFFFFF;
	}
	to{
		stroke: #1AC2B7;
	}
}

@keyframes nomColorOut {
	from{
		stroke: #FFFFFF;
	}
	to{
		stroke: #1AC2B7;
	}
}

@-webkit-keyframes navColorOut {
	from{
		color: #1AC2B7;
	}
	to{
		color: #777;
	}
}

@keyframes navColorOut {
	from{
		color: #1AC2B7;
	}
	to{
		color: #777;
	}
}

@-webkit-keyframes navColorIn {
	from{
		color: #777;
	}
	to{
		color: #1AC2B7;
	}
}

@keyframes navColorIn {
	from{
		color: #777;
	}
	to{
		color: #1AC2B7;
	}
}

.nav-color-in{
	-webkit-animation: navColorIn 0.25s normal forwards ease-in-out;
	animation :navColorIn 0.25s normal forwards ease-in-out;
}

.nav-color-out{
	-webkit-animation: navColorOut 1s normal forwards ease-in-out;
	animation :  navColorOut 1s normal forwards ease-in-out;
}

.nom-change-color-in{
	-webkit-animation: nomColorIn 2s normal forwards ease-in-out;
	animation : nomColorIn 2s normal forwards ease-in-out;
}

.nom-change-color-out{
	-webkit-animation: nomColorOut 0.3s normal forwards ease-in-out;
	animation : nomColorOut 0.3s normal forwards ease-in-out;
}

