body
{
	font-family: Lato,Roboto,sans-serif;
}

.clear-float
{
	clear: left;
}

.nav li a {
	font-weight: 300;
}

/* override nav button */
.navbar-default .navbar-toggle
{
	border : 0px solid transparent;
	float:  left;

}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover
{
	background: transparent;
}

.navbar-default .navbar-toggle .icon-bar
{
	background : #9ED7E8; 
}

.center-width{
	margin-left: auto;
	margin-right: auto;
}

.right-width{
	float:right;
}

.nomPage .nom-svg-container{
	
}

.nomPage .nom-svg-container svg{
	width  	   : 100%;
	padding    : 50px;
	max-height : 400px;
}

.nomPage table {
	width : 100%;
}

.nomPage table tr .td-circ{

	color 	    : #777;
	font-weight : 300;
	width : 23%;
}


.nomPage table tr .td-circ:focus,
.nomPage table tr .td-circ:hover
{
	cursor: pointer; cursor: hand; 
}

.nomPage table tr .nom-circ{
	
	max-width   : 200px;
	width  	    : 100%;
}

.nomPage table tr .td-separate{
	width : 5.5%;
}

.nomPage table tr .td-edge{
	width : 10%;
}

.about-page-img-fade-out {
     opacity: 0.2;
     transition: opacity 2s ease-in-out;
 }

@-webkit-keyframes nomColorIn {
	from{
		stroke: #9ED7E8;
	}
	to{
		stroke: #FFFFFF;
	}
}

@keyframes nomColorIn {
	from{
		stroke: #9ED7E8;
	}
	to{
		stroke: #FFFFFF;
	}
}

@-webkit-keyframes nomColorOut {
	from{
		stroke: #FFFFFF;
	}
	to{
		stroke: #9ED7E8;
	}
}

@keyframes nomColorOut {
	from{
		stroke: #FFFFFF;
	}
	to{
		stroke: #9ED7E8;
	}
}

@-webkit-keyframes navColorOut {
	from{
		color: #9ED7E8;
	}
	to{
		color: #777;
	}
}

@keyframes navColorOut {
	from{
		color: #9ED7E8;
	}
	to{
		color: #777;
	}
}

@-webkit-keyframes navColorIn {
	from{
		color: #777;
	}
	to{
		color: #9ED7E8;
	}
}

@keyframes navColorIn {
	from{
		color: #777;
	}
	to{
		color: #9ED7E8;
	}
}
.nav-color-in{
	-webkit-animation: navColorIn 0.25s normal forwards ease-in-out;
	animation :navColorIn 0.25s normal forwards ease-in-out;
}

.nav-color-out{
	-webkit-animation: navColorOut 1s normal forwards ease-in-out;
	animation :  navColorOut 1s normal forwards ease-in-out;
}

.nom-change-color-in{
	-webkit-animation: nomColorIn 2s normal forwards ease-in-out;
	animation : nomColorIn 2s normal forwards ease-in-out;
}

.nom-change-color-out{
	-webkit-animation: nomColorOut 0.3s normal forwards ease-in-out;
	animation : nomColorOut 0.3s normal forwards ease-in-out;
}

